jrxml/jrxml_monolithic_v6_0_corpus_strict.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://jasperreports.sourceforge.net/jasperreports"
  targetNamespace="http://jasperreports.sourceforge.net/jasperreports"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <!-- ========= Core jasperReport (corpus-tight children; attributes allowed) ========= -->
  <xs:complexType name="jasperReportType">
    <xs:sequence>
      <!-- Only elements we actually see/expect at the top level. Add more if the corpus requires. -->
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tns:background"/>
        <xs:element ref="tns:style"/>
        <xs:element ref="tns:import"/>
        <xs:element ref="tns:subDataset"/>
        <xs:element ref="tns:parameter"/>
        <xs:element ref="tns:query"/>
        <xs:element ref="tns:queryString"/>
        <xs:element ref="tns:field"/>
        <xs:element ref="tns:sortField"/>
        <xs:element ref="tns:filterExpression"/>
        <xs:element ref="tns:variable"/>
        <xs:element ref="tns:group"/>
        <xs:element ref="tns:property"/>
        <!-- sections -->
        <xs:element ref="tns:title"/>
        <xs:element ref="tns:pageHeader"/>
        <xs:element ref="tns:columnHeader"/>
        <xs:element ref="tns:detail"/>
        <xs:element ref="tns:columnFooter"/>
        <xs:element ref="tns:pageFooter"/>
        <xs:element ref="tns:lastPageFooter"/>
        <xs:element ref="tns:summary"/>
        <xs:element ref="tns:noData"/>
      </xs:choice>
    </xs:sequence>

    <!-- Common jasperReport attributes allowed by the corpus -->
    <xs:attribute name="name"           type="xs:string"/>
    <xs:attribute name="language"       type="xs:string"/>
    <xs:attribute name="pageWidth"      type="xs:string"/>
    <xs:attribute name="pageHeight"     type="xs:string"/>
    <xs:attribute name="columnWidth"    type="xs:string"/>
    <xs:attribute name="columnCount"    type="xs:string"/>
    <xs:attribute name="columnSpacing"  type="xs:string"/>
    <xs:attribute name="leftMargin"     type="xs:string"/>
    <xs:attribute name="rightMargin"    type="xs:string"/>
    <xs:attribute name="topMargin"      type="xs:string"/>
    <xs:attribute name="bottomMargin"   type="xs:string"/>
    <xs:attribute name="orientation"    type="xs:string"/>
    <xs:attribute name="printOrder"     type="xs:string"/>
    <xs:attribute name="ignorePagination" type="xs:string"/>
    <xs:attribute name="isIgnorePagination" type="xs:string"/>
    <xs:attribute name="floatColumnFooter" type="xs:string"/>
    <xs:attribute name="titleNewPage"   type="xs:string"/>
    <xs:attribute name="summaryNewPage" type="xs:string"/>
    <xs:attribute name="whenNoDataType" type="xs:string"/>
    <xs:attribute name="whenResourceMissingType" type="xs:string"/>
    <xs:attribute name="resourceBundle" type="xs:string"/>
    <xs:attribute name="scriptletClass" type="xs:string"/>
    <xs:attribute name="uuid"           type="xs:string"/>
  </xs:complexType>

  <xs:element name="jasperReport" type="tns:jasperReportType"/>

  <!-- ========= Sections (band-capable, but kept open for components) ========= -->
  <xs:complexType name="sectionType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <!-- Common printable/report elements -->
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tns:band"/>
        <xs:element ref="tns:element"/>
        <xs:element ref="tns:frame"/>
        <xs:element ref="tns:componentElement"/>
        <xs:element ref="tns:crosstab"/>
        <xs:element ref="tns:textField"/>
        <xs:element ref="tns:staticText"/>
        <xs:element ref="tns:image"/>
        <xs:element ref="tns:rectangle"/>
        <xs:element ref="tns:line"/>
        <xs:element ref="tns:subreport"/>
        <xs:element ref="tns:property"/>
        <xs:element ref="tns:printWhenExpression"/>
        <!-- Allow vendor components/extensions without enumerating them all -->
        <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="height"    type="xs:string"/>
    <xs:attribute name="splitType" type="xs:string"/>
    <xs:attribute name="style"     type="xs:string"/>
  </xs:complexType>

  <xs:element name="title"        type="tns:sectionType"/>
  <xs:element name="pageHeader"   type="tns:sectionType"/>
  <xs:element name="columnHeader" type="tns:sectionType"/>
  <xs:element name="detail"       type="tns:sectionType"/>
  <xs:element name="columnFooter" type="tns:sectionType"/>
  <xs:element name="pageFooter"   type="tns:sectionType"/>
  <xs:element name="lastPageFooter" type="tns:sectionType"/>
  <xs:element name="summary"      type="tns:sectionType"/>
  <xs:element name="background"   type="tns:sectionType"/>
  <xs:element name="noData"       type="tns:sectionType"/>

  <!-- ========= STYLE (tight: NO isBold/isItalic/isUnderline/isStrikethrough; NO hAlign) ========= -->
  <xs:element name="style">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="tns:box"/>
          <xs:element ref="tns:paragraph"/>
          <xs:element ref="tns:pen"/>
          <xs:element ref="tns:conditionalStyle"/>
          <xs:element ref="tns:property"/>
          <xs:element ref="tns:propertyExpression"/>
          <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
      <!-- Allowed style attributes (valid) -->
      <xs:attribute name="name"        type="xs:string"/>
      <xs:attribute name="default"     type="xs:string"/>
      <xs:attribute name="fontName"    type="xs:string"/>
      <xs:attribute name="fontSize"    type="xs:string"/>
      <xs:attribute name="bold"        type="xs:string"/>
      <xs:attribute name="italic"      type="xs:string"/>
      <xs:attribute name="underline"   type="xs:string"/>
      <xs:attribute name="strikeThrough" type="xs:string"/>
      <xs:attribute name="mode"        type="xs:string"/>
      <xs:attribute name="backcolor"   type="xs:string"/>
      <xs:attribute name="forecolor"   type="xs:string"/>
      <xs:attribute name="hTextAlign"  type="xs:string"/>
      <xs:attribute name="vTextAlign"  type="xs:string"/>
      <xs:attribute name="hImageAlign" type="xs:string"/>
      <xs:attribute name="vImageAlign" type="xs:string"/>
      <xs:attribute name="pdfFontName" type="xs:string"/>
      <xs:attribute name="isPdfEmbedded" type="xs:string"/>
      <xs:attribute name="style"       type="xs:string"/>

      <!-- Intentionally NOT present (and thus invalid): isBold, isItalic, isUnderline, isStrikethrough, hAlign -->
    </xs:complexType>
  </xs:element>

  <!-- ========= A few frequently used elements with pragmatic shapes ========= -->

  <!-- Generic printable “element” carrier (used by some custom corpuses) -->
  <xs:element name="element">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##any" processContents="lax"/>
    </xs:complexType>
  </xs:element>

  <!-- Textuals -->
  <xs:element name="textField">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="tns:reportElement"/>
          <xs:element ref="tns:box"/>
          <xs:element ref="tns:textElement"/>
          <xs:element ref="tns:patternExpression"/>
          <xs:element ref="tns:textFieldExpression"/>
          <xs:element ref="tns:printWhenExpression"/>
          <xs:element ref="tns:property"/>
          <xs:element ref="tns:propertyExpression"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="evaluationTime"   type="xs:string"/>
      <xs:attribute name="evaluationGroup"  type="xs:string"/>
      <xs:attribute name="blankWhenNull"    type="xs:string"/>
      <xs:attribute name="pattern"          type="xs:string"/>
      <xs:attribute name="style"            type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="staticText">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="tns:reportElement"/>
          <xs:element ref="tns:box"/>
          <xs:element ref="tns:textElement"/>
          <xs:element ref="tns:text"/>
          <xs:element ref="tns:printWhenExpression"/>
          <xs:element ref="tns:property"/>
          <xs:element ref="tns:propertyExpression"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="style" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <!-- reportElement box/pen are kept simple -->
  <xs:element name="reportElement">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="tns:printWhenExpression"/>
          <xs:element ref="tns:property"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="key"        type="xs:string"/>
      <xs:attribute name="style"      type="xs:string"/>
      <xs:attribute name="uuid"       type="xs:string"/>
      <xs:attribute name="x"          type="xs:string"/>
      <xs:attribute name="y"          type="xs:string"/>
      <xs:attribute name="width"      type="xs:string"/>
      <xs:attribute name="height"     type="xs:string"/>
      <xs:attribute name="mode"       type="xs:string"/>
      <xs:attribute name="positionType" type="xs:string"/>
      <xs:attribute name="stretchType"  type="xs:string"/>
      <xs:attribute name="backcolor"    type="xs:string"/>
      <xs:attribute name="forecolor"    type="xs:string"/>
      <xs:attribute name="isPrintWhenDetailOverflows" type="xs:string"/>
      <xs:attribute name="isPrintRepeatedValues"      type="xs:string"/>
      <xs:attribute name="isPrintInFirstWholeBand"    type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="box">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="tns:pen"/>
          <xs:element ref="tns:topPen"/>
          <xs:element ref="tns:leftPen"/>
          <xs:element ref="tns:bottomPen"/>
          <xs:element ref="tns:rightPen"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="padding"       type="xs:string"/>
      <xs:attribute name="topPadding"    type="xs:string"/>
      <xs:attribute name="leftPadding"   type="xs:string"/>
      <xs:attribute name="bottomPadding" type="xs:string"/>
      <xs:attribute name="rightPadding"  type="xs:string"/>
      <xs:attribute name="style"         type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="pen">
    <xs:complexType>
      <xs:attribute name="lineWidth" type="xs:string"/>
      <xs:attribute name="lineColor" type="xs:string"/>
      <xs:attribute name="lineStyle" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <!-- Light/open stubs for remaining top-levels so corpus components pass but we still enforce style mistakes -->
  <xs:element name="import"><xs:complexType><xs:attribute name="value" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="property"><xs:complexType><xs:attribute name="name" type="xs:string"/><xs:attribute name="value" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="query"><xs:complexType><xs:attribute name="language" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="queryString"><xs:complexType><xs:attribute name="language" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="parameter"><xs:complexType><xs:attribute name="name" type="xs:string"/><xs:attribute name="class" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="field"><xs:complexType><xs:attribute name="name" type="xs:string"/><xs:attribute name="class" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="variable"><xs:complexType><xs:attribute name="name" type="xs:string"/><xs:attribute name="class" type="xs:string"/><xs:attribute name="calculation" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="sortField"><xs:complexType><xs:attribute name="name" type="xs:string"/><xs:attribute name="order" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="filterExpression"><xs:complexType/></xs:element>
  <xs:element name="subDataset"><xs:complexType><xs:attribute name="name" type="xs:string"/><xs:attribute name="uuid" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="group"><xs:complexType><xs:sequence minOccurs="0" maxOccurs="unbounded"><xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/></xs:sequence><xs:attribute name="name" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="componentElement"><xs:complexType><xs:sequence minOccurs="0" maxOccurs="unbounded"><xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
  <xs:element name="crosstab"><xs:complexType><xs:sequence minOccurs="0" maxOccurs="unbounded"><xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
  <xs:element name="frame"><xs:complexType><xs:sequence minOccurs="0" maxOccurs="unbounded"><xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
  <xs:element name="image"><xs:complexType><xs:sequence minOccurs="0" maxOccurs="unbounded"><xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
  <xs:element name="rectangle"><xs:complexType><xs:attribute name="radius" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="line"><xs:complexType/></xs:element>
  <xs:element name="subreport"><xs:complexType><xs:sequence minOccurs="0" maxOccurs="unbounded"><xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
  <xs:element name="textElement"><xs:complexType><xs:attribute name="markup" type="xs:string"/><xs:attribute name="rotation" type="xs:string"/><xs:attribute name="textAlignment" type="xs:string"/><xs:attribute name="verticalAlignment" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="textFieldExpression"><xs:complexType/></xs:element>
  <xs:element name="patternExpression"><xs:complexType/></xs:element>
  <xs:element name="printWhenExpression"><xs:complexType/></xs:element>
  <xs:element name="propertyExpression"><xs:complexType><xs:attribute name="name" type="xs:string"/><xs:attribute name="type" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="text"><xs:complexType/></xs:element>

  <!-- pens used in <box> -->
  <xs:element name="topPen"><xs:complexType><xs:attribute name="lineWidth" type="xs:string"/><xs:attribute name="lineColor" type="xs:string"/><xs:attribute name="lineStyle" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="leftPen"><xs:complexType><xs:attribute name="lineWidth" type="xs:string"/><xs:attribute name="lineColor" type="xs:string"/><xs:attribute name="lineStyle" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="bottomPen"><xs:complexType><xs:attribute name="lineWidth" type="xs:string"/><xs:attribute name="lineColor" type="xs:string"/><xs:attribute name="lineStyle" type="xs:string"/></xs:complexType></xs:element>
  <xs:element name="rightPen"><xs:complexType><xs:attribute name="lineWidth" type="xs:string"/><xs:attribute name="lineColor" type="xs:string"/><xs:attribute name="lineStyle" type="xs:string"/></xs:complexType></xs:element>

  <!-- bands -->
  <xs:element name="band">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="tns:element"/>
          <xs:element ref="tns:frame"/>
          <xs:element ref="tns:componentElement"/>
          <xs:element ref="tns:crosstab"/>
          <xs:element ref="tns:textField"/>
          <xs:element ref="tns:staticText"/>
          <xs:element ref="tns:image"/>
          <xs:element ref="tns:rectangle"/>
          <xs:element ref="tns:line"/>
          <xs:element ref="tns:subreport"/>
          <xs:element ref="tns:property"/>
          <xs:element ref="tns:printWhenExpression"/>
          <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="height" type="xs:string"/>
      <xs:attribute name="splitType" type="xs:string"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
