src/test/java/tools/jrxml/jrxml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://jasperreports.sourceforge.net/jasperreports"
           xmlns:jr="http://jasperreports.sourceforge.net/jasperreports"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- ========================= -->
  <!--  Generic building blocks  -->
  <!-- ========================= -->

  <!-- A very permissive type for printable elements (internal structure is not constrained here).
       This keeps the schema focused on top-level ordering and section shape. -->
  <xs:complexType name="GenericPrintableType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <!-- Declarations / miscellaneous generic node -->
  <xs:complexType name="GenericNodeType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <!-- List of printable elements commonly seen in the exemplar corpora -->
  <xs:group name="PrintableGroup">
    <xs:choice>
      <xs:element ref="jr:staticText"/>
      <xs:element ref="jr:textField"/>
      <xs:element ref="jr:rectangle"/>
      <xs:element ref="jr:line"/>
      <xs:element ref="jr:image"/>
      <xs:element ref="jr:subreport"/>
      <xs:element ref="jr:componentElement"/>
      <xs:element ref="jr:crosstab"/>
      <xs:element ref="jr:frame"/>
      <xs:element ref="jr:break"/>
      <xs:element ref="jr:list"/>
      <xs:element ref="jr:map"/>
      <xs:element ref="jr:table"/>
      <xs:element ref="jr:chart"/>
    </xs:choice>
  </xs:group>

  <!-- Concrete printable element declarations -->
  <xs:element name="staticText"       type="jr:GenericPrintableType"/>
  <xs:element name="textField"        type="jr:GenericPrintableType"/>
  <xs:element name="rectangle"        type="jr:GenericPrintableType"/>
  <xs:element name="line"             type="jr:GenericPrintableType"/>
  <xs:element name="image"            type="jr:GenericPrintableType"/>
  <xs:element name="subreport"        type="jr:GenericPrintableType"/>
  <xs:element name="componentElement" type="jr:GenericPrintableType"/>
  <xs:element name="crosstab"         type="jr:GenericPrintableType"/>
  <xs:element name="frame"            type="jr:GenericPrintableType"/>
  <xs:element name="break"            type="jr:GenericPrintableType"/>
  <xs:element name="list"             type="jr:GenericPrintableType"/>
  <xs:element name="map"              type="jr:GenericPrintableType"/>
  <xs:element name="table"            type="jr:GenericPrintableType"/>
  <xs:element name="chart"            type="jr:GenericPrintableType"/>

  <!-- Declarations seen before sections; kept permissive -->
  <xs:element name="property"         type="jr:GenericNodeType"/>
  <xs:element name="import"           type="jr:GenericNodeType"/>
  <xs:element name="reportFont"       type="jr:GenericNodeType"/>
  <xs:element name="style"            type="jr:GenericNodeType"/>
  <xs:element name="subDataset"       type="jr:GenericNodeType"/>
  <xs:element name="parameter"        type="jr:GenericNodeType"/>
  <xs:element name="parameterGroup"   type="jr:GenericNodeType"/>
  <xs:element name="queryString"      type="jr:GenericNodeType"/>
  <xs:element name="field"            type="jr:GenericNodeType"/>
  <xs:element name="sortField"        type="jr:GenericNodeType"/>
  <xs:element name="filterExpression" type="jr:GenericNodeType"/>
  <xs:element name="variable"         type="jr:GenericNodeType"/>
  <xs:element name="group"            type="jr:GenericNodeType"/>

  <!-- A band must carry height and may contain printables -->
  <xs:complexType name="BandType">
    <xs:sequence>
      <xs:group ref="jr:PrintableGroup" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="height" type="xs:integer" use="required"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <!-- Generic section: EITHER banded OR bandless with direct printables -->
  <xs:complexType name="SectionType">
    <xs:choice>
      <xs:element name="band" type="jr:BandType"/>
      <xs:sequence>
        <xs:group ref="jr:PrintableGroup" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:choice>
    <xs:attribute name="height" type="xs:integer" use="optional"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <!-- Detail is like Section but allows multiple bands in the banded branch -->
  <xs:complexType name="DetailType">
    <xs:choice>
      <xs:sequence>
        <xs:element name="band" type="jr:BandType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:sequence>
        <xs:group ref="jr:PrintableGroup" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:choice>
    <xs:attribute name="height" type="xs:integer" use="optional"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <!-- ========================= -->
  <!--    Root: jasperReport     -->
  <!-- ========================= -->

  <xs:element name="jasperReport" type="jr:jasperReportType"/>

  <xs:complexType name="jasperReportType">
    <xs:sequence>
      <!-- zero-or-more declarations BEFORE sections -->
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="jr:property"/>
        <xs:element ref="jr:import"/>
        <xs:element ref="jr:reportFont"/>
        <xs:element ref="jr:style"/>
        <xs:element ref="jr:subDataset"/>
        <xs:element ref="jr:parameter"/>
        <xs:element ref="jr:parameterGroup"/>
        <xs:element ref="jr:queryString"/>
        <xs:element ref="jr:field"/>
        <xs:element ref="jr:sortField"/>
        <xs:element ref="jr:filterExpression"/>
        <xs:element ref="jr:variable"/>
        <xs:element ref="jr:group"/>
      </xs:choice>

      <!-- sections in canonical order -->
      <xs:element name="background"     type="jr:SectionType" minOccurs="0"/>
      <xs:element name="title"          type="jr:SectionType" minOccurs="0"/>
      <xs:element name="pageHeader"     type="jr:SectionType" minOccurs="0"/>
      <xs:element name="columnHeader"   type="jr:SectionType" minOccurs="0"/>
      <xs:element name="detail"         type="jr:DetailType"  minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="columnFooter"   type="jr:SectionType" minOccurs="0"/>
      <xs:element name="pageFooter"     type="jr:SectionType" minOccurs="0"/>
      <xs:element name="lastPageFooter" type="jr:SectionType" minOccurs="0"/>
      <xs:element name="summary"        type="jr:SectionType" minOccurs="0"/>
      <xs:element name="noData"         type="jr:SectionType" minOccurs="0"/>
    </xs:sequence>

    <!-- allow common JasperReports attributes on the root -->
    <xs:attribute name="name"         type="xs:string"  use="optional"/>
    <xs:attribute name="language"     type="xs:string"  use="optional"/>
    <xs:attribute name="pageWidth"    type="xs:integer" use="optional"/>
    <xs:attribute name="pageHeight"   type="xs:integer" use="optional"/>
    <xs:attribute name="columnWidth"  type="xs:integer" use="optional"/>
    <xs:attribute name="leftMargin"   type="xs:integer" use="optional"/>
    <xs:attribute name="rightMargin"  type="xs:integer" use="optional"/>
    <xs:attribute name="topMargin"    type="xs:integer" use="optional"/>
    <xs:attribute name="bottomMargin" type="xs:integer" use="optional"/>
    <xs:attribute name="uuid"         type="xs:string"  use="optional"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

</xs:schema>
